<nav class="navbar navbar-expand-lg" [ngClass]="{ 'navbar-light bg-light': isLightTheme, 'navbar-dark bg-dark': !isLightTheme }" style="border-bottom: 2px solid lightgray;">
    <div class="container-fluid" style="margin-left: 20px; margin-right: 20px;">
      <a class="navbar-brand" href="#">Where in the World?</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <li class="nav-item">
            <button class="nav-link btn" (click)="toggleTheme()">
              <span *ngIf="isLightTheme"><strong>Dark Mode</strong></span>
              <span *ngIf="!isLightTheme"><strong>Light Mode</strong></span>
            </button>
          </li>
        </div>
      </div>
    </div>
</nav>
<div class="container">
  <div class="country-details">
    <h2>{{ country?.name }}</h2>
    <img src="{{ country?.flag }}" alt="{{ country?.name }} Flag" style="width: 900px; height: 300px;">
    <p>Capital: {{ country?.capital }}</p>
    <p>Population: {{ country?.population }}</p>
    <p>Region: {{ country?.region }}</p>
  </div>
</div>

  