.search {
    display: flex;
}

.search-dropdown {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 35px;
}

.card-img-top {
    height: 276px;
    width: 100%;
}